# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Environment variables
.env

# Mac
.DS_Store

*.egg-info/

# IDE
.idea/
.vscode/

# HuggingFace cache
.cache/

# Output folder


# ChromaDb
chroma_db/